<h1>TO-DO LIST</h1>

<div *ngFor="let toDo of toDoList; index as i">
    <p>{{ i + 1 }}. {{toDo.task}}</p>
    <p *ngIf="toDo.completed">item completed</p>
    <button *ngIf="!toDo.completed"(click)="completeTask(toDo)">Mark Complete</button>
    <button *ngIf="toDo.completed"(click)="incompleteTask(toDo)">Mark Incomplete</button>
    <button (click)="removeTask(i)">Remove Task</button>
    <hr>
</div>
<br>
<form #todoForm="ngForm" (ngSubmit)="addTask(todoForm)">
 <input name="todo" ngModel/>
 <button>Add New Task</button>
</form>
